CONFIG_BATTERY_BQ27XXX=y
CONFIG_TI_ADS1015=y
CONFIG_SND_SOC_MAX98090=y
CONFIG_VIDEO_IMX219=n
CONFIG_OPT3001=y
CONFIG_INV_ICM42600=y
CONFIG_INV_ICM42600_I2C=y
CONFIG_IMX_SDMA=m
CONFIG_TYPEC_TPS6598X=y
CONFIG_TRACING=y
CONFIG_EXTCON_USBC_TUSB320=y

# Added PD driver
CONFIG_EXTRA_FIRMWARE="tps25751.bin tps25751-v1.bin"
CONFIG_EXTRA_FIRMWARE_DIR="drivers/usb/typec/"
CONFIG_TYPEC_TPS25750=y
