# MIPI DSI Display
CONFIG_DRM_DISPLAY_CONNECTOR=y
CONFIG_DRM_LONTIUM_LT8912B=y
CONFIG_DRM_NWL_MIPI_DSI=y
CONFIG_DRM_SEC_MIPI_DSIM=y
CONFIG_DRM_SIMPLE_BRIDGE=y
CONFIG_DRM_DW_MIPI_DSI=y
CONFIG_DRM_IMX_LCDIF_MUX_DISPLAY=y
CONFIG_DRM_IMX8MP_LDB=y
CONFIG_DRM_IMX_DW_MIPI_DSI=y
CONFIG_DRM_IMX_SEC_DSIM=y
CONFIG_DRM_PANEL_DDIC_CH13726A=y
CONFIG_DRM_SCHED=y
CONFIG_DRM_MXSFB=y
CONFIG_DRM_ETNAVIV=y

# Display Touch Support
CONFIG_INPUT_EVDEV=y
CONFIG_TOUCHSCREEN_FTS=y

